html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    user-select: none;
    font-size: medium;
}

body {
    background: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

i {
    color: turquoise;
}

#navBar {
    overflow: hidden;
    z-index: 10;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    opacity: 1;
    background-color: black;
    transition: .2s;
}

ul li.navContent {
    float: left;
    list-style-type: none;
}

li a {
    text-align: center;
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #ff004d;
    opacity: .8;
    transition: font-size .3s ease;
}

li a:hover {
    opacity: 1;
    font-size: larger;
    color: #ff004d;
}

#tepinly {
    color: turquoise;
    transition: font-size .3s ease;
    font-size: large;
    padding-top: 5px;
}

#tepinly:hover {
    font-size: x-large;
}

.text {
    text-shadow: 2px 2px 2px black;
}

#home {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 200px;
    text-shadow: 0px 0px 10px black;
    color: #ff004d;
}

#heading {
    margin-bottom: 40px;
}

.description {
    max-width: 300px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: 20px;
}

.separate {
    border-bottom: 2px solid #ff004d;
    width: 10%;
    margin: auto;
}

#about {
    padding-top: 5px;
}

#about-inner {
    border-top: 5px solid #ff004d;
    border-bottom: 5px solid #ff004d;
    color: #ff004d;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background: black;
    max-width: 700px;
    margin-bottom: 100px;
}

#qa {
    margin: 20px;
    padding-top: 10px;
    text-align: left;
}

.q {
    margin-top: 50px;
    color: turquoise;
}

.a {
    margin-left: 40px;
}

#latest {
    border-bottom: 4px solid #ff004d;
}

#lHeading {
    color: #ff004d;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.carousel-inner>.item>img {
    margin: auto;
    max-width: 620px;
    max-height: 620px;
}

.carousel {
    background: rgba(0, 0, 0, 0);
}

#gallery {
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
    color: #ff004d;
    text-align: center;
}

#gallery-inner {
    width: 95%;
    padding-top: 40px;
    margin: auto;
}

.row {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.row img {
    width: 25%;
    margin: 2px;
    padding: .2%;
    background-color: #ff004d;
    cursor: pointer;
    transition: .4s;
}

.row img:hover {
    opacity: .7;
}

#contact {
    width: 100%;
}

#botBar {
    list-style-type: none;
    padding: 0;
}

#contact {
    display: inline-block;
    padding: 20px 0;
    color: #ff004d;
    text-align: center;
    border-top: 4px solid #ff004d;
    border-bottom: 4px solid #ff004d;
    bottom: 0;
    overflow: hidden;
    background-color: black;
    margin: 80px 0 0px 0;
}

#contact a {
    text-decoration: none;
    display: inline-block;
    color: #ff004d;
    padding: 12px 20px;
    opacity: .8;
    transition: padding .3s ease;
}

#contact a:hover {
    opacity: 1;
    color: #ff004d;
    padding: 10px 30px;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff004d;
    border-radius: 20px;
    border: 4px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff5286;
}

.zoomD {
    width: 600px;
    height: auto;
    cursor: pointer;
}

#lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
}

#lb-back.show {
    visibility: visible;
    opacity: 1;
}

#lb-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#lb-img img {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

#top {
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff004d;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 12px;
    padding-bottom: 4px;
    font-weight: bold;
}

#top:hover {
    background-color: #ff5286;
    /* Add a dark-grey background on hover */
}